<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title)  %> - Shoe Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield(:meta)  %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body >
    <%= yield %>
  </body>
</html>
